body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Parallax sections */
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* First image */
.parallax-1 {
    background-image: url("https://s.isanook.com/ca/0/ud/280/1402148/ccccccccccccccccccccccccccccc.jpg?ip/crop/w670h402/q80/jpg");
}

/* Second image */
.parallax-2 {
    background-image: url("https://s.isanook.com/ca/0/ud/280/1402148/116036664_10157982267633171_7.jpg?ip/resize/w728/q80/jpg");
}

/* Center text */
.text-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px 40px;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
}

/* Black block section */
.content {
    background-color: black;
    color: white;
    padding: 100px 40px;
    text-align: center;
    font-size: 22px;
}